body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/more-leaves-on-green.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    padding-right: 140px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: nowrap;
    margin-top: 70px;
}

.intro p {
    font-size: 25px;
    margin-bottom: 20px;
    max-width: 50vw;
    padding-right: 0;
}

.intro a {
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}

h2 {
    margin-top: 0;
    font-size: 70px;
    line-height: 0.9;
    font-weight: bolder;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    display: contents;
}

.meal {
  background-color: #fff;
  border-radius: 0;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.image-container {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 5 / 8;
  position: relative;
}

.image-container img {
  width: 105%;
  height: 105%;
  object-fit: cover;
  justify-self: center;
  display: flex;
}

.label {
  position: absolute;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 5px;
  font-size: 1em;
  font-weight: bold;
  z-index: 1;
  text-align: right;
}

.image-container span:first-of-type {
  bottom: 45px;
  background-color: #ffffff;
  right:0;
  padding-right: 10px;
  padding-left: 30px;
}

.image-container span:last-of-type {
  bottom: 0;
  background-color: #00c853;
  right:0;
  padding-right: 10px;
  padding-left: 70px;
}
